{% extends 'base.html' %} 
{% load static%}
<!-- Styles block -->
{% block styles %}
 
 {% endblock %} 
 {% block content %}

<!--Styles-->

<style>
    .jumbotron {
        background-color:rgb(196, 183, 183);
        background-attachment: fixed;
        opacity: 0.8;
        text-align: center;
        /* padding: 13%;
        padding-top: 5%;
        padding-left: 5%; */
        color: white;
        border-radius: 20px;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 10%;
        font-size: 20px;
        padding-bottom: 2%;
    }
    body {
        background-image:url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1502899576159-f224dc2349fa%3Fixlib%3Drb-1.2.1%26w%3D1000%26q%3D80&imgrefurl=https%3A%2F%2Funsplash.com%2Fwallpapers%2Ftravel%2Fcity&tbnid=vnM2kfdWswrNvM&vet=12ahUKEwilq_Xoq-PsAhVEaBoKHWaTDIwQMygDegUIARDLAQ..i&docid=PiWThYokDkcowM&w=1000&h=1250&q=cities%20wallpaper%20hd&ved=2ahUKEwilq_Xoq-PsAhVEaBoKHWaTDIwQMygDegUIARDLAQ');
    }
    
</style>

<!--End of styles-->
<body>
        <div class="jumbotron">
                <h1 style="text-align: center;color:rgb(77, 67, 67)">Neighboorhoods</h1>
                <br><p  style="text-align: center ; font-size: 28px;color:rgb(77, 67, 67)">Welcome to our Neighboorhood web application feel free to join your neighbourhood.</p>
                <a href="/all/hoods">
                    <button type="button" name="button" class="btn btn-default btn-lg">Neighbourhoods</button>
                </a>
                  
                </div>
   
    
    {% endblock %}
</body>